body {
  /*font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*//*system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;/*16px*/
  font-weight: 400;
  line-height: 1.5;/*19px*/
  color: #1B1818;/*#212529;*/
  /*text-align: var(--bs-body-text-align);*/
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.about {
	background-image: url(../../images/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;/*top or > center center*/
	background-size: cover;
	
    background-attachment: fixed;/*COOL TRY*/
	background-color: rgba(68, 68, 68, 0.9);
}
.userImg {
  	width: 150px;
  	height: 150px;
}
.userImg img {
	-o-object-fit: cover;
	object-fit: cover;
}
.userImg::before {
	content: "";
	position: absolute;
	left: -5px;
	top: 13px;
	width: 100%;
	height: 100%;
	background-color: var(--bs-primary);/*var(--bs-teal);*//*orange;*//*#EDF7FA;*/
	border-radius: 50%;
}
/*SKILLS START*/
.skill {
	width: 40px;
	height: 40px;
}
/*SKILLS END*/
/*PROJECT STARTS*/
.more-works {
	display: none;
}
.view {
	width: 100px;
    display: block;
    margin: 0 auto;
}
.view .icon-view {
	line-height: 0;
	margin-bottom: 10px;
	display: block;
	color: #7b7b7b;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.view .icon-view i {
	font-size: 30px;
}
.view.active .icon-view {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
/*PROJECT ENDS*/
/*FEEDBACK STARTS*/
.feedback {
	background-color: rgba(68, 68, 68, 0.9);
}
.carousel-item {
    height: 20rem;
}
/*FEEDBACK ENDS*/
/*CONTACT STARTS*/
.contact a {
	transition: all 0.5s ease-out;/*color*/
}
/*.contact a:hover {
	transform: translateY(-2px);
}*/
@keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		-ms-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		-ms-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		-ms-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		-ms-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		-ms-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.rubberBand:hover {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/*CONTACT ENDS*/
/*UP STARTS*/
.to_top {
    width: 40px;
    height: 40px;
    color: #fff;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    position: fixed;
    bottom: 20px;
    right: -100px;
    padding-top: 2px;
    opacity: .6;
    z-index: 99;
}
#body_start .to_top:hover  {
	color: #ffc107;/*#f13a11;*/
	opacity: 1;
}
/*UP ENDS*/
/* PARTNERS START */
#body_start .partners .wrapper {
    max-width: 600px;
}
#body_start .partners-list {
    margin: 0 0 1em;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}
#body_start .partners-list li {
    width: 85px;
    text-align: center;
}
#body_start .partners-list a {
    width: 75px;
    margin: 10px 5px 5px;
    padding: 10px;
    padding-top: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top 10px;
	background-size: 45px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
	text-decoration: none;
	background-color: #6c757d;
    -webkit-transition: .2s background-color ease-in-out, .2s box-shadow ease-in-out, .2s border-color ease-in-out;
    transition: .2s background-color ease-in-out, .2s box-shadow ease-in-out, .2s border-color ease-in-out;
}
#body_start .partners-list a.rakvere {
    background-image: url(../../images/partners/rakvere.png);
}
#body_start .partners-list a.kalev {
    background-image: url(../../images/partners/kalev.svg);
}
#body_start .partners-list a.ylikool {
    background-image: url(../../images/partners/ylikool.png);
    background-size: 40px 40px;
}
#body_start .partners-list a:hover {
    border-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.06),0 4px 6px rgba(0,0,0,0.1);
}
#body_start .partners-list a.rakvere:hover {
	background-color: #198754;
}
#body_start .partners-list a.kalev:hover {
	background-color: #0d6efd;
}
#body_start .partners-list a.ylikool:hover {
	background-color: #004ba0;
}
@media (max-width: 768px){
	#body_start .partners-list li {
		width: 25%;
		text-align: left;
	}
	#body_start .partners-list a {
		width: calc(100% - 10px);
		margin: 10px 5px 0;
		padding: 20px;
		padding-left: 65px;
		background-position: 10px center;
	}
}
@media (max-width: 600px){
	#body_start .partners-list li {
		width: 50%;
	}
}
/* PARTNERS END */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.userImg {
		width: 180px;
		height: 180px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.about p.fs-6 {
		font-size: calc(1.275rem + 0.3vw) !important;
		/*color: black !important;*/
	}
	.userImg {
		width: 220px;
		height: 220px;
	}
	.feedback p.fs-6 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}
	.blockquote-footer {
		font-size: 0.875em !important;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.userImg {
		width: 240px;
		height: 240px;
	}
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}